.audio-player {
  height: 0;
  overflow: hidden;
  transtion: 0.5s height;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px #000;
  background-color: #fff;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 70px;
  &--show {
    opacity: 1;
    height: 70px;
  }

  &__track-title {
    max-width: 45%;
    font-size: 0.9em;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    left: 10px;
    position: relative;
    line-height: 98px;
    @media screen and (min-width: 768px) {
      max-width: 60%;
      font-size: 1.2em;
      margin-right: 15px;
    }
  }

  &__track-author{
    position: absolute;
    font-size: 0.7em;
    line-height: 37px;
    left: 10px;
  }

  &__controls {
    float: right;
  }
  
  button {
    display: inline;
    background-color: #fff;
    border: solid 3px #000;
    font-family: Lato;
    text-transform: uppercase;
    outline: none;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }

  .audio-player__toggle {
    background-color: #000;
    color: #fff;
  }
}