@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

body {
  margin: 0;
  padding: 3em;
  font-family: Lato;
}


@mixin header() {
  font-size: 2em;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

@mixin list() {
  list-style-type: none;
  padding: 0;
}

@mixin list-element($fontSize) {
  margin: 0;
  padding: 0.4 * $fontSize;
  font-size: $fontSize;
  border-bottom: solid 1px #000;
  line-height: 2 * $fontSize;
  letter-spacing: 0.1em;
  &:last-child {
    border-bottom: none;
  }
}